body {
   margin: 0;
   font-family: vars.$font-family-base;
   background-color: vars.$background-color;
   color: vars.$text-color;
}

.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-size: vars.$font-size-large;
   color: vars.$text-color;
}

a {
   text-decoration: none;
   color: inherit;
}

input[type="number"] {
  -webkit-appearance: none; 
  -moz-appearance: textfield;
  appearance: none; 

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
